/* converts all text to sans-serif */
html {
    background-color: rgb(169, 212, 207);
    font-family: sans-serif;
}

/* adds box around the body with a different fill */
body {
    background-color: rgb(212, 232, 231);
    margin: auto;
    width: 1050px;
}

/* centers the heading on top of the picture */
header h1 {
    padding-left: 390px;
    top: 170px;
    position: absolute;
    font-size: 50px;
    font-weight: 50; 
}

/* fits the picture to the page */
.first-img {
    width: 1050px;
}

header {
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    display: block;
}

/* removes bullet and makes all in a line */
nav ul li {
    margin: 0;
    padding-top: 0px;
    padding-left: 125px;
    padding-right: 100px;
    display: inline;
    font-size: 25px;
    text-transform: uppercase;
}

/* removes underline from the link */
li a {
    text-decoration: none;
    color: black;
}

/* adds two lines in nav */
.story {
    border-left: solid;
    border-right: solid;
}

h2 {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 5;
    font-size: 30px;
}

h3 {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 5;
    font-size: 25px;
}

/* wraps picture around the text */
.sec-img {
    padding: 5px;
    width: 230px;
    height: 230px;
    float:left
}

.text {
    width: 1040px;
    text-align: justify;
    padding-left: 5px;
}

.form {
    border: solid 2px;
    padding: 5px;
    margin: 5px;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 0.2;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.send {
    border: solid 2px #ccc;
}

footer{
    text-align: right;
    padding-right: 5px;
}
