/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




* {
    box-sizing: border-box;
}

html {
    width: 1200px;
}

.wrapper {
    width: 97%;
    margin: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.colour {
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
}

/* Set background color for bleed-1 */
.navigation {
    background-color: #222;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul li {
    text-align: center;
    padding-bottom: 30px;
}

li a {
    list-style-type: none;
    text-decoration: none;
    color: #c78c06;
    padding: 35px;
    font-size: 18px;
}

.active a {
    background-color: #c78c06;
    color: #222;
    display: block;
}

.logo {
    background-color: #c78c06;
    display: block;
    padding-right: 92%;
}

form input {
    width: 93%;
    height: 40px;
    font-size: 18px;
  }

form button {
    color: #c78c06;
    background-color: #222;
    border-color: #c78c06;
    height: 40px;
    width: 40px;
}

.welcome-text{
    position: absolute;
    top: 535px;
    background-color: #22222298;
    color: white;
    padding-top: 60px;
    padding-left: 10px;
}

h1 {
    font-size: 70px;
    font-weight: bold;
}


