/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* makes the entire page max-width of 1200px */
html {
    max-width: 1200px;
    margin: auto;
}

.wrapper {
    width: 97%;
    margin: auto;
}

/* makes all text in open sans font */
body {
    font-family: 'Open Sans', sans-serif;
}

.colour {
    color: #222;
}

.img {
    width: 100%;
    height: auto;
}


/* Sets background color for the first bleed */
.navigation {
    background-color: #222;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul li {
    text-align: center;
    padding-bottom: 30px;
}

/* removes border and bullets */
li a {
    list-style-type: none;
    text-decoration: none;
    color: #c78c06;
    padding: 35px;
    font-size: 18px;
}

/* gives home bar a seperate colour */
.active a {
    background-color: #c78c06;
    color: #222;
    display: block;
}

.logo {
    background-color: #c78c06;
    display: block;
    padding-right: 86.6%;
}

form input {
    width: 90%;
    height: 40px;
    font-size: 18px;
  }

form button {
    color: #c78c06;
    background-color: #222;
    border-color: #c78c06;
    height: 50px;
    width: 50px;
}

.welcome {
    position: relative;

}

 .welcome-text {
    background-color: #22222298;
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
    display: inline-block;
    position: absolute;
    bottom: 70px;
}

/* the font sizes for different texts */
h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 35px;
    font-weight: bold;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    padding-left: 5px;
}

h4 {
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
}

p {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

hr {
    position: relative;
    top: 4px;
    border: none;
    border-bottom: 2px solid #c78c06; 
}    

.welcome-text button {
    background-color: #c78c06;
    color: #222;
    padding: 25px;
    font-size: 18px;
}



.about {
    background-color: #ffe6ac;
    padding-bottom: 10px;
}

#services {
    padding-top: 15px;
    padding-bottom: 10px;
}

/* gives them a background colour */
.digital, .marketing, .video, .web, .print {
    background-color: #ffe6ac;
    padding-bottom: 10px;
}

/* all buttons will look same */
.button-1, .button-2,.button-3,.button-4,.button-5 {
	background-color: #222;
	color: white;
	padding: 20px 40px;
	font-size: 16px;
	border-style: none;
    margin-left: 5px;
}

.our-vision img {
    position: relative;
}

.our-vision .wrapper .vision {
    position: absolute;
    top: 4900px;
    color: white;
}

.vis-bttn {
    background-color: #222222;
    border: solid #c78c06;
    color: white;
    padding: 20px 40px;
    font-size: 16px;
    margin-left: 5px;
}

.john {
    background-color: #ffe6ac;
}

.bob {
    background-color: #ffe6ac;
}

#contact {
    padding-top: 15px;
    padding-bottom: 10px;
}

button .send{
    padding: 5px;
    font-size: 14px;
}

table, th, td {
	border: 1px solid;
	padding: 20px 40px;
	width: 500px;
}

th {
    background-color: #ffe6ac;
}

iframe{
	border: 0;
    width: 500px;
    height: 250px
}

footer{
	background-color: #222;
	color:#c78c06;
	padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 5px;
}

/* for desktop */
@media screen and (min-width: 760px){
	/* puts logo and nav in one line */
    .logo {
		background-color:#222;	
		padding: 20px 50px;
		max-width: 100%;
        float: left;
    }
    
    nav ul li {
        display: inline-block;
        text-align: center;
        padding: 14px 16px;
        font-size: 17px;
        padding-bottom: 50px;
    }

    nav a {
        padding-top: 30px;
    }

    .button-1 {
        text-align: center;
        padding-left: 140px;
        padding-right: 140px;
    }

    .button-2 {
        text-align: center;
        padding-left: 127px;
        padding-right: 127px;
    }
    
    .button-3 {
        text-align: center;
        padding-left: 75px;
        padding-right: 75px;
    }

    .button-4 {
        text-align: center;
        padding-left: 77px;
        padding-right: 77px;
    }

    .button-5 {
        text-align: center;
        padding-left: 80px;
        padding-right: 80px;
    }

   /* our services details are in 6x2 grid  */
   .grid-1{
	display: grid;
	width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "a a a b b b"
    "c c d d e e";

    }

    /* naming them grid templete and margin for space */

    .grid-1 .digital {
        grid-area: a;
        margin-right: 5px;
        margin-bottom: 10px;
      }
      
      .grid-1 .marketing {
        grid-area: b;
        margin-left: 5px;
        margin-bottom: 10px;
      }
      
      .grid-1 .video {
        grid-area: c;
        margin-right: 5px;
        margin-bottom: 10px;
      }
      
      .grid-1  .web {
        grid-area: d;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 10px;
      }
      
      .grid-1  .print {
        grid-area: e;
        margin-left: 5px;
        margin-bottom: 10px;
      }

      .our-vision .wrapper .vision {
        top:3350px
      }
      
      /* styles for the left column */
      .john {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      
      /* styles for the right column */
      .bob {
        display: flex;
        flex-direction: row-reverse; 
        align-items: center;
        justify-content: flex-end; 
      }
      
      .text-2 {
        text-align: left; 
      }
     

      .grid-2 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        display: grid;
        align-items: stretch;
      }
      
      .form {
        display: grid;
	    grid-column: 1/ 2;
        grid-row: 1/ 2;
        width: fit-content;
      }

      .contactus{
        display: grid;
        width: 500px;
        grid-column: 1/span 2;
        grid-row: 2;
    }
    

      .table {
        grid-column: 1/2;
	    grid-row: 2/ span 1;
	    width: 500px;
    }

    .location {
        display: grid;
	    grid-column: 2/ span 2;
	    grid-row: 1;
    }
    
}        

